<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741967906776-4c56rl4fsqvun7ij7psom6a6ojtrbmm2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741967906776-4c56rl4fsqvun7ij7psom6a6ojtrbmm2</string>
	<key>API_KEY</key>
	<string>AIzaSyCyc388Fp4F0VKWRsS1gVVCLg_uAmMrvPg</string>
	<key>GCM_SENDER_ID</key>
	<string>741967906776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hchowdhury.together</string>
	<key>PROJECT_ID</key>
	<string>together-26fdb</string>
	<key>STORAGE_BUCKET</key>
	<string>together-26fdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741967906776:ios:08a8b051c0bda601ef54ad</string>
	<key>DATABASE_URL</key>
	<string>https://together-26fdb.firebaseio.com</string>
</dict>
</plist>